<!DOCTYPE html>
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><!-- build:title --> | 1989 Stackk</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="public/css/styles.css">
    </head>
    <body>
        <div class="navbar-fixed">
            <div class="navbar-content">
                <div class="navbar-title">
                    1989 STACK
                </div>
                <div class="navbar-menu">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="docs.html">Docs</a></li>
                        <li><a href="team.html">Team</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="main-content">
                <!-- build:body -->
            </div>
            <footer>
                1989 Stack &copy - 2018 <br>
                thaisang.nguyen3894@gmail.com
            </footer>
        </div>
    </body>
</html>